name: Build

on: workflow_dispatch


jops: 
  deploy:
     runs-on: ubuntu-latest
      steps:
        - name: Deploy
          uses: appleboy/ssh-action@v1.0.0
          with:
            host: ${{ secrets.HOST }}
            username: ${{ secrets.USERNAME }}
            key: ${{ secrets.PRIVATE_KEY }}
            script: ./deploy.sh